.image {
    padding: 10px;
}

.border {
    padding: 10px;
}

.header {
    font-size: medium;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

.box {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.posting-image {
    padding-top: 10px;
    padding-right: 10px;
}