<!--Edit Storage Location-->
<h1>Editing Storage {{ storageName}}</h1>
<div class="card-wrapper">
    <div fxLayout="row">
      <mat-card fxLayout="row" fxFlex="80%" class="center space-top">
        <mat-card-content fxLayout.gt-sm="row">

            <!--Column for text names-->
        <div fxLayout.gt-sm="column" fxFlex.gt-sm="60%" class="textColumn">
            <p>Storage Name</p>            
            <p>Code</p>
            <p>Type</p>
            <p>Location</p>
          </div>

          <form>
            <div class="form-group row">
                <div class="col-auto">
                  <input type="text" class="form-control" id="inputStorageName" placeholder="Storage One">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-auto">
                  <input type="text" class="form-control" id="inputStorageCode" placeholder="12234">
                </div>  
              </div>       
              <div class="form-group row">
                <div class="col-auto">
                  <input type="text" class="form-control" id="inputStorageType" placeholder="12234">
                </div>  
              </div>       
              <div class="form-group row">
                <div class="col-auto">
                  <input type="text" class="form-control" id="inputStorageLocation" placeholder="Basement">
                </div>  
              </div>          
        <div>
          <button
          (click)="onSubmit()"
          mat-raised-button
          color="accent"
          type="submit"
          class="submitStorage"
        >
          <p
            style="
              display: inline-flex;
              align-items: center;
              margin-top: 10px;
              font-size: larger;
            "
          >
            Save
          </p>
        </button>
        </div>         
        </form>
    </mat-card-content>
    <mat-card-footer>
      <button
        class="closeButton" mat-button (click)="onClose()" id="closeX">
        X
      </button>
    </mat-card-footer>
    </mat-card>
    </div>
</div>        