<div class="card-wrapper">
  <div fxLayout="row">
    <mat-card fxLayout="row" fxFlex="80%" class="center space-top">
      <mat-card-content fxLayout.gt-sm="row">
        <!--form for new item details-->
        <form #addItemForm="ngForm" >
          <!--image selection-->
          <div fxLayout.gt-sm="column" fxFlex.gt-sm="30%" class="imageColumn">
            <div *ngIf="this.images">
                <img
                mat-card-image
                [src]="this.images[0].item_image_path"
                alt="Item image"
                />
            </div>
            <div *ngIf="!images">
              <img
              mat-card-image
              src="../../assets/images/bluelogo.png"
              alt="Item image"
            />
            </div>

            <!--Replace with proper image editing support-->
            <button >Add Images</button>
          </div>
          <div fxLayout.gt-sm="column" fxFlex.gt-sm="45%">
            <div class="bordered-section">
              <!--name field-->
              <strong>Name</strong>
              <span> {{item.item_title}}</span><br>
              <!--description field-->
              <strong>Description</strong>
              <span>{{item.item_description}}</span><br>
            </div>
            <!--template info-->
            <div class="bordered-section min-height">
              <!--name field-->
              <strong>Template</strong>
              <div *ngIf="!this.template">
                <br><button (click)="addTemplate()">Add template</button>
              </div>
              <div *ngIf="this.template">

              </div>
            </div>
          </div>
          <div fxLayout.gt-sm="column" fxFlex.gt-sm="25%">
            <!--Storage Fields-->
            <div class="bordered-section">
              <!--storage type field-->
              <strong>Storage Type</strong>
              <span>{{item.storage_type}}</span><br>
              <!--storage code field-->
              <strong>Storage Code</strong>
              <span>code</span><br>
              <!--storage location field-->
              <strong>Storage Location</strong>
              <span>location</span><br>
              <!--storage note field-->
              <strong>Storage Notes</strong>
              <span>notes</span><br>
            </div>
            <!--Add button-->
            <button
              mat-raised-button
              color="accent"
              type="submit"
              class="submitButton"
            >
              <p
                style="
                  display: inline-flex;
                  align-items: center;
                  margin-top: 10px;
                  font-size: larger;
                "
              >
                Edit Item
              </p>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
