<!--Header-->
<mat-toolbar>
  <span>Add New Collection</span>
</mat-toolbar>
<form (ngSubmit)="onSubmit()">
  <!--Image Section-->
  <mat-card class="my-card">
    <mat-card-content class="imageContent">
      <div fxLayout.gt-sm="column" fxFlex.gt-sm="40%" class="imageContent">
        <img
          src="../../assets/images/bluelogo.png"
          alt="asdasd"
          id="userImage"
        />
        <br />
        <a href=""
          >Click to upload an image to better identify your collection.</a
        >
      </div>
    </mat-card-content>
    <!--Labels Section-->
    <mat-card-content class="labelContent">
      <label id="listingName">Collection Name:</label>
      <label id="description">Description: </label>
      <!--Storage code not needed for now
      <label id="condition">Storage Code: </label>-->
    </mat-card-content>
    <!--Fields Section-->
    <mat-card-content>
      <form class="my-form">
        <mat-card-content>
          <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Enter name of your collection..</mat-label>
              <input
                matInput
                placeholder="Enter name of your collection.."
                name="collectionname"
                required
                [(ngModel)]="collectionModel.collection_name"
              />
              <mat-error>Collection name cannot be empty.</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Describe what your collection contains..</mat-label>
              <input
                matInput
                placeholder="Describe what your collection contains.."
                name="description"
                required
                [(ngModel)]="collectionModel.collection_description"
              />
              <mat-error>Description cannot be empty.</mat-error>
            </mat-form-field>
            <!--Not needed for now but commented in case needed later
            <mat-form-field class="full-width">
              <mat-label>Enter the storage code to link..</mat-label>
              <input
                matInput
                placeholder="Enter the storage code to link.."
                name="storagecode"
                required
              />
              <mat-error>Storage Code cannot be empty.</mat-error>
            </mat-form-field>
          --></form>
        </mat-card-content>
      </form>
      <!--Submit/Preview Buttons-->
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          id="createButton"
          routerLink="/managecollections"
        >
          BACK TO COLLECTIONS
        </button>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="loading"
          id="createButton"
        >
          <span *ngIf="loading; else login">
            <span> Processing Request </span>
          </span>
          <!-- login template that appears if done loading-->
          <ng-template #login>
            <span> CREATE </span>
          </ng-template>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
