<mat-toolbar color="primary">
  <span>Storage</span>
</mat-toolbar>

<div *ngFor="let storage of storageList" class="content">
  <mat-card class="mat-elevation-z4">
    
    <mat-card-header>
      <mat-card-title>{{ storage.storage_name }}</mat-card-title>
      <button
      class="close-button"
      aria-label="Close alert"
      type="button"
      
      data-close
      >
      <span aria-hidden="true">&times;</span>
      </button>
    </mat-card-header>

    <mat-card-content>
      Location: <br>
      {{ storage.storage_location}}
      <br><br>
      Storage type: <br>
      {{ storage.storage_type}}
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" id="manageButton" routerLink="/viewstorage/">View</button>
    </mat-card-actions>
  </mat-card>
</div>